body{
    background-image:url(img/background.jpg) ;
   background-repeat: no-repeat;
    background-size: cover; 
   
}
#box{
    width: 90%;
height: 1300px;
background-image: linear-gradient(0deg,#ee691c,#2e40e6);
border-radius: 20px;
border-color: #ee691c;
margin-left: 5%;
margin-top: 30%;
}
.box1{
width: 50%;
height: 10%;
background-image: linear-gradient(45deg,#1a2294,#6e15c2) ;
border-bottom-width: 2px;
border-top-width: 2px;
border-left-width: 2px;
border-right-width: 2px;
border-color: #041441;
border-style: solid;
margin-left: 24.5%;

display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}
.rb{
    font-size: 80px;
    font-family: 'Times New Roman', Times, serif;
    text-align :center;
    padding:0;
    -webkit-animation: animatedBackground_b 15s linear infinite alternate;
        
}

@keyframes animatedBackground_b{
    0% {color: #ff8b00}
    10% {color: #e8ff00}
    20% {color: #5dff00}
    30% {color: #00ff2e}
    40% {color: #00ff88}
    50% {color: #0952f0}
    60% {color: #002eff}
    70% {color: #5d00ff}
    80% {color: #e800ff}
    90% {color: #ff008b}
    100% {color: #ff0000} }
    .boximg{
        background-color: #00ff2e;
        width: 40%;
        height: 26%;
        border-radius: 50%;
        border-color: #00ff2e;
        margin-left: 2%;
        margin-top: 2%;
      float: left;
    }
    .box2{
        width:90% ;
        height: 30%;
        background-image:linear-gradient(15deg,#9c2010,#3c1083) ;
        border-radius: 5%;
        border-color: #002fff;
        border-style: inset;
        margin-left: 5%;
        margin-top: 2%;
        float:left
       
       
    }
    .box2a1{
      
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .mtitle1{
        font-size: 60px;
        font-family: 'Times New Roman', Times, serif;
        color: #1ad2f3;
        text-align: center;
       
       
        Text-decoration: none;
        padding:0;
        -webkit-animation: animatedBackground_a 15s linear infinite alternate;
        
    }
    
    @keyframes animatedBackground_a{
        0% {color: #5dff00}
        10% {color: #5dff00}
        20% {color: #00ff2e}
        30% {color: #00ff2e}
        40% {color: #00ff9d}
        50% {color: #09f0d1}
        60% {color: #09f0dd}
        70% {color: #09aef0}
        80% {color: #09f097}
        90% {color: #ffc400}
        100% {color: #d9ff00} 
    }
.mtitle2{
    font-size: 60px;
    font-family: 'Times New Roman', Times, serif;
    color: #f1cf10;
    text-align: center;
}
.box2a2{
   
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box3{
    width: 90%;
    height: 37%;
    border-radius: 40px;
    border-color: #002fff;
    border-style: inset;
    background-image:linear-gradient(15deg,#9c2010,#3c1083) ;
    margin-top: 50%;
    margin-left: 4.5%;
}
.box4{
width: 90%;
height: 10%;
background-image:linear-gradient(15deg,#9c2010,#3c1083) ;
margin-top: 3%;
margin-left: 4%;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius: 20px;
border-color: #002fff;
border-style: inset;
}
img.img{
    width: 35%;
    border-radius: 50%;
    border-color: #002fff;
    border-style: inset;
    margin-right: 68%;
    float:right;


}
.box3a1{
    margin-top: 20%;
}
